{% extends "base.html" %}

{% block title %}¿Olvidó la contraseña?{% endblock %}

{% block content %}

<h2>¿Olvidó la contraseña?</h2>

<form action="" class="form-horizontal" method="post" role="form">

    {% csrf_token %}

    <h4>Especifique su correo electrónico.</h4>
    <hr />

    {% if form.email.errors %}
    <div class="text-danger">{{ form.email.errors }}</div>
    {% endif %}

    <div class="form-group">
        <label class="col-md-2 control-label" for="id_email">Correo electrónico</label>
        <div class="col-md-10">
            <input type="email" name="email" maxlength="254" required id="id_email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reiniciar contraseña" />
        </div>
    </div>

</form>

{% endblock %}